$light: #f8f9fa;
$primary: #0069d9;
$success: #28a745;
$danger: #dc3545;

@mixin view-small() {
	@media (min-width: 576px) {
		@content;
	}
}

@mixin view-medium() {
	@media (min-width: 768px) {
		@content;
	}
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $light;

	.container .row .col-sm-8 {
		padding-right: 0;
		padding-left: 0;

		.breadcrumb {
			background-color: inherit;
		}
	}

	padding-bottom: 20px;

	@include view-small() {
		padding-bottom: 0px;
	}
}
